@use 'variables' as *;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: $background-darker;
  color: #fff;
}

.game-container {
  width: $game-width;
  margin: 0 auto;
  padding: 20px;
  background: $background-dark;
} 